{{define "content"}}
<div class="content column">
    <h1>Sanic is an omni-tool which lets you build, deploy, and manage Kubernetes clusters.</h1>
    <p>It's as simple as <code>sanic env prod && sanic build --push && sanic deploy</code>.  Follow the steps in the tutorial below for a brief, single minute look around.</p>
</div>
<div class="content column">
    <noscript>
        <h2>For a short, interactive tutorial, please enable javascript on this page.</h2>
        <h2>Otherwise, try the <a href="/docs/quick-start">Quick-start guide</a>.</h2>
    </noscript>
    <div id="guide-prompt">It looks like you may be on mobile.  If you want a textual walkthrough of sanic, try the <a href="/docs/quick-start">Quick-start guide</a>.</div>
    <div id="sanic-features-interactive" style="display: none; flex-direction: column">
        <div class="color-dark" style="width: 100%; height: 12.65em"></div>
        <div class="color-main" style="width: 100%; height: 36em"></div>
    </div>
    <script>
        document.getElementById("sanic-features-interactive").style.display = "flex";
    </script>
</div>
{{end}}

{{define "extra_head"}}
<link rel="stylesheet" href="demo.css">
{{end}}