p {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

li {
    margin-top: 0.15em;
    margin-bottom: 0.5em;
}

@media screen and (max-width: 600px) {
    .content {
        padding: 2em 2em 2em 2em;
    }
}
