<!DOCTYPE html>
<html>
<head>
    <title>Sanic | Omnitool for Kubernetes & Docker</title>
    <link rel="stylesheet" href="/static/common.css">
    <meta
            name="viewport"
            content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no"
    />

    <link rel="apple-touch-icon" sizes="57x57" href="/static/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-icon-180x180.png">
    <link rel="manifest" href="/static/manifest.json">
    <meta name="msapplication-TileColor" content="#1a1a1e">
    <meta name="msapplication-TileImage" content="/static/favicon/ms-icon-144x144.png">

    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#1A1A1E">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#1A1A1E">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#1A1A1E">


    <link rel="stylesheet" href="/static/lib/fontawesome/css/all.min.css">
    <!-- begin page specific head contents -->
{{template "extra_head" .}}
    <!-- end page specific head contents -->
</head>
<body>
<div class="main-column">
{{template "header_nav" .}}
{{define "header_nav"}}
<script>
    const toggleNav = () => {
        var nav = document.getElementById("main-nav");
        if(nav.className === "responsive") {
            nav.className = "";
        } else {
            nav.className = "responsive";
        }
    }
</script>
<nav id="main-nav">
    <a href="/" class="title" id="title-button"><img src="/static/images/whiteLogo.svg" /></a>
    <a href="/docs/quick-start" id="docs-button">Docs</a>
    <a href="/download" id="download-button">Download</a>
    <a href="https://github.com/distributed-containers-inc/sanic" id="source-button">Source</a>
    <a href="https://github.com/distributed-containers-inc/sanic/tree/master/example" id="examples-button">Examples</a>
    <button class="hamburger" onclick="toggleNav()">
        <i class="fa fa-bars"></i>
    </button>
</nav>
{{end}}
{{template "content" .}}
<footer>
    <span class="copyright">
        <i class="fa fa-copyright"></i> Distributed Containers Inc. 2019
    </span>
</footer>
</div>
</body>
{{range $bundle := PageBundles}}
<script type="text/javascript" src="/static/bundles/{{$bundle}}" async></script>
{{end}}
</html>

{{define "extra_head"}}{{end}}