<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/common.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- begin page specific head contents -->
    {{template "extra_head" .}}
    <!-- end page specific head contents -->
</head>
<body>
    <nav class="header-nav">
        <a href="demo">Demo</a>
        <a href="about">About</a>
        <a href="." class="title">Sanic</a>
        <a href="docs">Docs</a>
        <a href="https://github.com/distributed-containers-inc/sanic">Source</a>
    </nav>
    <div class="main-content">
        {{template "content" .}}
    </div>
</body>
<footer>
    © Distributed Containers Inc. 2019
</footer>
{{range $bundle := PageBundles}}
<script type="text/javascript" src="/static/bundles/{{$bundle}}"></script>
{{end}}
</html>

{{define "extra_head"}}{{end}}