{{define "content"}}
<div class="content content-main">
    <div class="main-sidebar">
        <div class="tagline">Tired of kubernetes tools that don't prioritize user experience?</div>
        <a href="/demo" class="cta-btn">Take a tour of Sanic</a>
    </div>
    <img class="main-graphic" src="/static/images/mainGraphic.svg"  alt=""/>
</div>
<div class="features-total-width-container full-width">
    <div class="content content-features">
        <div class="feature">
            <img src="/static/images/env.svg" alt="">
            <h2>Environments</h2>
            <p>Sanic allows you to define commands and configuration on a per-environment basis with ease.</p>
        </div>
        <div class="feature">
            <img src="/static/images/concurrentBuild.svg" alt="">
            <h2>Concurrent Builds</h2>
            <p>Sanic uses Buildkit, cutting edge technology which builds your images concurrently and efficiently.</p>
        </div>
        <div class="feature">
            <img src="/static/images/integratedDeployment.svg" alt="">
            <h2>Integrated Deployments</h2>
            <p>Sanic allows you to define deployments using a templating language your team already understands.</p>
        </div>
    </div>
</div>
<div class="content content-casts">
    <div class="cast">
        <div>
            <h1>Build</h1>
            <p>Sanic discovers all of the Dockerfiles in the project directory, and builds and pushes them in parallel.</p>
        </div>
        <asciinema-player
                src="/static/asciicasts/build.cast"
                rows="10"
                cols="69"
                autoplay="true"
                loop="true"
                font-size="1em"
                speed="2"
        >
        </asciinema-player>
    </div>
    <div class="cast">
        <div>
            <h1>Work</h1>
            <p>We've declared a print_env script in two separate environments. Watch as the one executed changes based on which environment we are in.</p>
        </div>
        <asciinema-player
                src="/static/asciicasts/envs.cast"
                rows="10"
                cols="69"
                autoplay="true"
                loop="true"
                font-size="1em"
                speed="1.5"
        >
        </asciinema-player>
    </div>
    <div class="cast">
        <div>
            <h1>Deploy</h1>
            <p>Sanic only requires two commands to deploy.  This website is a sanic project:  Watch as we deploy a new version with no downtime.</p>
        </div>
        <asciinema-player
                src="/static/asciicasts/deploy.cast"
                rows="10"
                cols="69"
                autoplay="true"
                loop="true"
                font-size="1em"
        >
        </asciinema-player>
    </div>
</div>
{{end}}

{{define "extra_head"}}
<link rel="stylesheet" href="index.css">
<link rel="stylesheet" href="/static/lib/asciinema/asciinema-player.css">
<script src="/static/lib/asciinema/asciinema-player.js"></script>
{{end}}