.terminalContainer {
    overflow-y: hidden !important;
}

#sanic-features-interactive {
    width: 100%;
}

/*TODO: HACKS*/
.react-swipeable-view-container > div {
    overflow: hidden !important;
}

.terminalContainer span {
    white-space: pre !important;
}

#guide-prompt {
    display: none;
    margin-bottom: 1em;
    font-size: 120%;
}

@media screen and (max-width: 600px) {
    #guide-prompt {
        display: block;
    }
}