{{define "content"}}
<div class="content column">
    <h1>Tired of kubernetes tools that don't prioritize user experience?</h1>
    <h2>Efficiently build, deploy and manage Kubernetes clusters with Sanic</h2>
</div>
<div class="content column">
    <noscript>
        <h2>For a short, interactive tutorial, please enable javascript on this page.</h2>
        <h2>Otherwise, try the <a href="/docs/quick-start">Quick-start guide</a>.</h2>
    </noscript>
    <div id="guide-prompt">It looks like you may be on mobile.  If you want a textual walkthrough of sanic, try the <a href="/docs/quick-start">Quick-start guide</a>.</div>
    <div id="sanic-features-interactive" style="display: none; flex-direction: column">
        <div class="color-dark" style="width: 100%; height: 12.65em"></div>
        <div class="color-main" style="width: 100%; height: 36em"></div>
    </div>
    <script>
        document.getElementById("sanic-features-interactive").style.display = "flex";
    </script>
</div>
{{end}}

{{define "extra_head"}}
<link rel="stylesheet" href="index.css">
{{end}}