html,body {
    margin: 0 auto 0 auto;
    padding: 0 0 0 0;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    background-color: #2c2e33;
    color: #c7ddeb;
}

.color-dark {
    background-color: #151519;
}

code {
    background-color: #151519;
    padding: 0.1em 0.1em 0.1em 0.1em;
}

.color-main {
    background-color: #26282d;
}

a:link {
    color: #8a95ff;
}

/* visited link */
a:visited {
    color: #8a95ff;
}

/* mouse over link */
a:hover {
    color: #acc1cf;
}

/* selected link */
a:active {
    color: #acc1cf;
}

body {
    display: flex;
    flex-direction: column;
}

:root {
    font-size: 125%;
}

#main-nav {
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    text-transform: uppercase;
    margin-top: 2em;
    margin-bottom: 2em;
}


#main-nav > a {
    text-align: center;
    margin: auto auto auto auto;

    font-size: 1.5em;
    text-decoration: none;
    color: #cbe2f0;
}

#main-nav > a.title {
    padding-left: 6%;
    padding-right: 6%;
}

#main-nav > a.title > img {
    width: 12ch;
}

#main-nav > .hamburger {
    display: none;
    position: absolute;
    top: 2em;
    right: 2em;
    height: 4em;
    width: 4em;
    background: rgba(240, 238, 239, 0.85);
    border: 0;
}

@media screen and (max-width: 1100px) {
    #main-nav > * {
        display: none;
    }

    #main-nav.responsive > * {
        display: block;
    }

    #main-nav > .hamburger, #main-nav > .title {
        display: block;
    }

    #main-nav > .title {
        margin-left: 10%;
    }

    #main-nav {
        justify-content: space-between;
    }

    #main-nav.responsive {
        flex-direction: column;
    }

    #main-nav.responsive.hamburger {
        position: absolute;
        right: 0;
        top: 0;
    }
}

button {
    cursor: pointer;
}

h1 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.content {
    display: flex;
    flex-direction: row;

    flex: 0 1 50%;

    padding: 1.5em 1.5em 0 1.5em;

    margin-left: auto;
    margin-right: auto;
}

.main-column {
    max-width: 1500px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.column {
    flex-direction: column;
}

footer {
    padding: 2em 3em 2em 3em;
}

@media screen and (max-width: 1000px) {
    .content {
        padding-top: 0.5em;
    }
    h1 {
        margin-top: 0.15em;
        margin-bottom: 0.15em;
    }
}

@media screen and (max-width: 500px) {
    footer {
        font-size: 50%;
    }
}