html,body {
    margin: 0 auto 0 auto;
    padding: 0 0 0 0;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    background-color: #2c2e33;
    color: #acc1cf;
    max-width: 75em;
}

.color-dark {
    background-color: #151519;
}

.color-main {
    background-color: #26282d;
}

a:link {
    color: #8a95ff;
}

/* visited link */
a:visited {
    color: #8a95ff;
}

/* mouse over link */
a:hover {
    color: #acc1cf;
}

/* selected link */
a:active {
    color: #acc1cf;
}

body {
    display: flex;
    flex-direction: column;
}

:root {
    font-size: 125%;
}

.header-nav {
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.header-nav > a {
    flex-grow: 1;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;

    font-size: 1.5em;
    text-decoration: none;
    color: #8f9da6;
}

.header-nav > a.title {
    flex-grow: 3;
    font-size: 2em;
}


@media screen and (max-width: 600px) {
    #demo-button, #examples-button {
        display: none
    }
}

.content {

}

footer {
    padding: 50px 25px 50px 25px;
}