html,body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

body {
    display: flex;
    flex-direction: column;
}

:root {
    font-size: 125%;
}

.header-nav {
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    margin-top: 1em;
    margin-bottom: 1em;
}

.header-nav > a {
    flex-grow: 1;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;

    font-size: 1.5em;
    text-decoration: none;
    color: #151d25;
}

.header-nav > a.title {
    flex-grow: 3;
    font-size: 2em;
}

.main-content {
    margin: 100px 50px 0px 50px;
}