---
kind: Deployment
apiVersion: extensions/v1beta1
metadata:
  name: sanic-site
  labels:
    k8s-app: sanic-site
spec:
  replicas: 1
  selector:
    matchLabels:
      k8s-app: sanic-site
  template:
    metadata:
      labels:
        k8s-app: sanic-site
        name: sanic-site
    spec:
      terminationGracePeriodSeconds: {{if eq (getenv "SANIC_ENV") "dev"}}10{{else}}1{{end}}
      {{if eq (getenv "SANIC_ENV") "dev"}}
      volumes:
      - name: devmount
        hostPath:
          path: {{getenv "PROJECT_DIR"}}/app
          type: Directory
      {{end}}
      containers:
      - image: {{getenv "REGISTRY_HOST"}}/sanic-site:{{getenv "IMAGE_TAG"}}
        name: sanic-site
        ports:
        - name: http
          containerPort: 8080
          port: 80
        {{if eq (getenv "SANIC_ENV") "dev"}}
        volumeMounts:
        - mountPath: /go/src/app
          name: devmount
        {{end}}

---
kind: Service
apiVersion: v1
metadata:
  name: sanic-site
spec:
  selector:
    k8s-app: sanic-site
  ports:
  - protocol: TCP
    port: 80

---
apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: sanic-site
spec:
  rules:
  - http:
      paths:
      - path: /
        backend:
          serviceName: sanic-site
          servicePort: 80