---
kind: Deployment
apiVersion: extensions/v1beta1
metadata:
  name: sanic-site
  labels:
    k8s-app: sanic-site
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 25%
  minReadySeconds: 5
  selector:
    matchLabels:
      k8s-app: sanic-site
  template:
    metadata:
      labels:
        k8s-app: sanic-site
        name: sanic-site
    spec:
      terminationGracePeriodSeconds: {{if eq (getenv "SANIC_ENV") "dev"}}10{{else}}1{{end}}
      {{if eq (getenv "SANIC_ENV") "dev"}}
      volumes:
      - name: devmount
        hostPath:
          path: {{getenv "PROJECT_DIR"}}/app
          type: Directory
      {{end}}
      containers:
      - image: {{getenv "REGISTRY_HOST"}}/sanic-site:{{getenv "IMAGE_TAG"}}
        name: sanic-site
        env:
        - name: SANIC_ENV
          value: {{getenv "SANIC_ENV"}}
        ports:
        - name: http
          containerPort: 8080
        {{if eq (getenv "SANIC_ENV") "dev"}}
        volumeMounts:
        - mountPath: /go/src/app
          name: devmount
        {{end}}
        readinessProbe:
          httpGet:
            path: /
            port: 8080
          initialDelaySeconds: 5

---
kind: Service
apiVersion: v1
metadata:
  name: sanic-site
spec:
  selector:
    k8s-app: sanic-site
  ports:
  - protocol: TCP
    port: 80
    targetPort: 8080

---
apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: sanic-site
  {{if eq (getenv "SANIC_ENV") "prod"}}
  annotations:
    kubernetes.io/ingress.class: "nginx"
    certmanager.k8s.io/issuer: "letsencrypt-prod"
    certmanager.k8s.io/acme-challenge-type: http01
  {{end}}
spec:
  tls:
  - hosts:
    - sanic.io
    secretName: sanic-prod-tlscert
  rules:
  - host: sanic.io
    http:
      paths:
      - path: /
        backend:
          serviceName: sanic-site
          servicePort: 80